:root{
    --primary: #111B54;
    --light: #FFFFFF;
    --grey: #EFEFEF;
}
body{
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    color: var(--primary);
    background-color: black;
}

img{
    width: 80px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.bg-primary{
    background-color:  var(--primary) !important;
}

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: .875rem 1.25rem;
}

#sidebar-container .menu{
    width: 18rem;
}

#content{
    overflow-y: auto;
    height: 100vh;
    padding-top: 2.5rem;
}

.contenedor-loader{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}

.loader {
    position: relative;
    width: 50px;
    height: 50px;
    display: none;
  }
  
  .loader:before , .loader:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
  }
  .loader:after {
    box-shadow: 0 2px 0 #FF3D00 inset;
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
  }